# Application
DEBUG=true
APP_NAME=TatkalX

# PostgreSQL
DATABASE_URL=postgresql://username:password@localhost:5432/tatkalx

# Redis
REDIS_HOST=your-upstash-host.upstash.io
REDIS_PORT=6379
REDIS_DB=0
REDIS_USERNAME=default
REDIS_PASSWORD=your-redis-password
REDIS_SSL=true